  *{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    min-width: 100vw;
}
h1{
    font-size: 100px;
    position: relative;
    left: 50px;
    top: 50px;
}
#bg{
    opacity: 0.6;
    position: fixed;
    width: 100vw;
    height: auto;

}
#container{
    display: flex; 
    position: relative;
    width: 40vw;
}
p{
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
    position: relative;
   left: 100px;
   top: 120px;
}
.box {
    inline-size: 1100px;
    overflow-wrap: break-word;
}
#main-image{
    width: 30vw;
    position: absolute;
    height: auto;
    
}
#image-container{
    width: 50%;
    position: absolute;
    left: 900px;
    top: 100px 
} 
#playPauseButton {
    width: 100px;
    height: 100px;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
  } 
  
  button{
    border-radius: 50px;
    position: fixed;
    top: 0;
    float: right;
  }
