*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 100px;
    position: relative;
    left: 50px;
    top: 50px;
}
#bg{
    opacity: 0.6;
    position: fixed;
    width: 100vw;
    height: auto;

}
#container{
    display: flex; 
    position: relative;
    inline-size: 1100px;
    overflow-wrap: break-word;
}
p{
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
    position: relative;
   left: 100px;
   top: 120px;
}
#main-image{
    width: 40vw;
    height: auto;
    left: 200px;
    position: absolute;

}
#image-container{
    position: relative;
    
}
footer{
    font-size: 50px;
    width: 50%;
    height: 80px;
    padding: 1px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    background-color: Black;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

footer:hover{
    background-color: rgb(121, 119, 103);
    cursor: pointer;
}