*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 100px;
    position: relative;
    left: 50px;
    top: 50px;
}
#bg{
    opacity: 0.6;
    position: fixed;
    width: 100vw;
    height: auto;

}
#container{
    display: flex; 
    position: relative;
    inline-size: 1100px;
    overflow-wrap: break-word;
}
p{
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
    position: relative;
   left: 100px;
   top: 120px;
}
#main-image{
    width: 40vw;
    height: auto;
    left: 800px;
    bottom: 300px;
    position: relative;
    display: flex;
    float: right;
    text-align: right;  

}
#image-container{
    position: relative;
    
}

footer{
    font-size: 50px;
    width: 50%;
    height: 80px;
    padding: 1px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    background-color: Black;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

footer:hover{
    background-color: rgb(121, 119, 103);
    cursor: pointer;
}
#playPauseButton {
    width: 100px;
    height: 100px;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
  } 
  
  button{
    border-radius: 50px;
    position: fixed;
    top: 0;
    left: 0;
  }

  /* To make it responsive for computer screens, tablets, smart-phones etc. */
@media screen and (max-width:900px) {
    .column{
        min-width: 50%;
    }
}

@media screen and (max-width: 500px){
    .column{
        min-width: 100%;
    }
    .row{
        flex-direction: column;
    }
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 1.4rem;
    }
}