*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 100px;
    position: relative;
    left: 50px;
    top: 50px;
}
body{
    background-image: url(../Images/Storm.png);
}
#bg{
    opacity: 0.6;
    position: fixed;
    width: 100vw;
    height: auto;

}
#container{
    display: flex; 
    /* position: relative;
    width: 40vw; */
}
p{
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
    /* position: relative;
    left: 100px;
   top: 120px;   */
}
.box {
    /* inline-size: 100px; */
    width: 50%;
    overflow-wrap: break-word;
}
#main-image{
    width: 45%;
    /* height: auto; */
    /* position: absolute; */

}
#image-container{
    width: 50%;

    
}

#secondary-image{
    width: 45%;
    /* height: auto;
    position: relative; */
}

#playPauseButton {
    width: 100px;
    height: 100px;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
  } 
  
  button{
    border-radius: 50px;
    position: fixed;
    top: 0;
    float: right;
  }