
*{
  margin: 0;
  padding: 0;
}
.container {
    position: relative;
  }
.point {
    position: absolute;
}
#bg {
  opacity: 0.8;
  position: absolute;
  height: 1500px;
  width: auto;
}
h1{
  font-size: 150px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  background: -webkit-linear-gradient( #FFC300 , #f1ece3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

}
h2{
    font-size: 100px;
    color: rgb(0, 0, 0);
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;

}
#one{
    width: 300px;
    height:auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    rotate: -45deg;

}
#two{
  width: 300px;
  height:auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  rotate: -35deg;
}
#three{
  width: 300px;
  height:auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  rotate: -20deg;

}
#four{
  width: 300px;
  height:auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  

}
#five{
  width: 300px;
  height:auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  rotate: 20deg;

}
#six{
  width: 300px;
  height:auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  rotate: 45deg;

}

img:hover {
  box-shadow: 0 0 14px 14px rgb(245, 205, 3);
}

.audio {
  width: 100px;
  height: 100px;
  cursor: pointer;
  height: 100px;
  position: fixed;
}

.smallcontainer{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 80px;
  border-radius: 50px;
}