
*{
  margin: 0;
  padding: 0;
}
.container {
    position: relative;
  }
  .point {
    position: absolute;
     border-radius: 50%;
}
#bg {
  opacity: 0.8;
  position: absolute;
  height: 1500px;
  width: auto;
}
h1{
  font-size: 150px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  background: -webkit-linear-gradient( #FFC300 , #f1ece3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

}
h2{
    font-size: 100px;
    color: rgb(0, 0, 0);
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;

}
#one{
    width: 300px;
    height:auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    /* rotate: -45deg;
    left: 100px; 
    bottom: 200px; */
}
#two{
  width: 300px;
  height:auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  /* rotate: 45deg;
  bottom: -200px; */ */
}

#one:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}